/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

a:link {
  color:#1111ee;
}

a:visited  {
  color:#111188;
}

#navcolumn h5 {
  color: #336666;
}

#contentBox h2 {
  font-size:1.75em
}

#contentBox h3 {
  padding: 4px 4px 4px 6px;
  color: #F9F9F9;
  font-weight: bold;
  font-size: 15px;
  background-color: #888888;
  background-image: none;
}

#contentBox h4 {
  padding: 4px 4px 4px 6px;
  color: #777;
  background-color: #D8D8D8;
  font-weight: bold;
  font-size: 1.2em
  background-image: none;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-left: 10px;
}

#contentBox h5 {
  margin-left: 10px;
  font-size: 1.05em
}

#contentBox h6 {
  margin-left: 10px;
  font-size: 1em
}

.source {
  margin-left: 15px;
}

.xright a:link, .xright a:visited {
  color: #000099;
}

.xright a:hover, .xright a:active {
  color: #990000;
}

#banner {
  height: 80px;
  background: none;
  background-color: #FFFFFF
}

#bannerRight {
  margin-top:10px;
  margin-bottom:10px;
  margin-right:20px;
}

p {
  margin-left:12px;
}